/* HERO SECTION */

.hero {
    height:95vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 0 80px;

    background: linear-gradient(
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35)
    ),
    url("../images/doctor11.jpg")top center/cover no-repeat;


    position: relative;
    /* color: #0b615e; */
}


/* Text area */
.hero-content {
    position: relative;
    max-width: 60%;
    text-align: left;
    left: 0;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 600;
    /* color: #003642; */
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.hero-content h1 span {
    color: #6fffe9;
}

.hero-content p {
    margin: 20px 0;
    font-size: 1.05rem;
    font-weight: 800;
    color: #9fffea;
    line-height: 1.6;
}

/* Buttons */
.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn-secondary {
    border: 2px solid #135e62;
    color: #d0f6ff;
    padding: 12px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #12695f;
    color: #fff;
}

@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
        margin-top: 70px;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-image img {
        width: 300px;
        margin-top: 30px;
    }

    .hero-buttons {
        justify-content: center;
    }
}